{% extends "layout.html" %}
{% block body %}
   
  
  
<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    
	<br/>
  <br/>
  <br/>


  
  <h2>Found an Item</h2>
  
  
  <form action="{{ url_for('found') }}" method=post class = "form-horizontal">
  
		<div class = "form-group">
			<label class = "control-label"> Name: </label>
			<input type=text name=name class = "form-control"> </input>
		</div>


		<div class = "form-group">
			<label class = "control-label">Item: </label>
			<input type=text name=item class = "form-control"> </input>
      	</div>
	
	
		<div class = "form-group">
  		
			<label class = "control-label">Description: </label>
			<textarea name=description rows=5 cols=40 class = "form-control"> </textarea>
      
		
		</div>
	
		
		
		
		<div class = "form-group">
  		
			<label class = "control-label">Number: </label>
			<input type=text name=number class = "form-control"> </input>
      
		
		</div>
	
	
	
	
		<div class = "form-group">
  		
	  
			<label class = "control-label">Email: </label>
			<input type=text name=email class = "form-control"> </input>

		</div>
		
  

{% if error %}<p class=error><strong>Error:</strong> {{ error }} <br />{% endif %}
    
	  
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
	  
	  <br/>
	  
      <input type=submit value=Post class = "btn btn-primary"> </input>

	   <button type="button" class="btn btn-primary" onclick="window.location='/';"> Back</button>  <br/>


	  <br />
	
  </form>
  
  
  </div>
  <div class="col-xs-4"></div>
</div>

  
  
{% endblock %}
